<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
      <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
      <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/lib/w3pro.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
  </head>
  <body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>

    <header class="w3-container">
      <h1 id="page-title" class="w3-padding-32 w3-text-gray">{{ meta.title }}</h1>
      <div class="w3-text-gray opacity-5">{{ meta.date_formatted }}</div>
    </header>

    <main class="w3-container">
      <div id="content">
        <hr class="w3-bottombar w3-border-light-gray post-separator">
        {{ content }}
        <hr class="w3-bottombar w3-border-light-gray post-separator">
        <div class="w3-medium">
          {% for tag in meta.tags %}
            <a class="w3-text-gray w3-hover-border-gray w3-border-white w3-bottombar" href="{{ base_url }}/?tags&tag={{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>
      <div class="w3-bottom">
        <div class="bar w3-bar w3-dark-gray">
          <a class="padding-16 w3-bar-item w3-button w3-hover-dark-grey w3-text-white" href="{{ base_url }}">
            {{ site_title }}
          </a>
          {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
            <a class="padding-16 w3-bar-item w3-button w3-hover-dark-grey w3-topbar {% if page.url in current_page.url %} w3-text-white w3-border-white {% else %} w3-border-dark-gray w3-text-light-grey {% endif %}" href="{{ page.url }}">
              {{ page.title }}
            </a>
          {% endfor %}
        </div>
      </div>
    </footer>

  </body>
</html>
